body{
    font-family: 'HelloRecess', sans-serif;
                                                
    background-color: antiquewhite;
                                                
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 500px
}

.titulo1{
    font-family: 'Bariol Bold', sans-serif;          
    margin-left: 200px;
    font-size: 40px;
    text-align: center;
}

table{
    margin-left: 200px;
    background-color: rgb(221, 181, 144);
    color: rgb(80, 20, 20);
    text-align: center;
    width: 700px;
}

th{
    color: rgb(37, 41, 41)
}

.hamburguesa{
color:rgb(221, 181, 144)
}

